.container{
    width: 100%;
    min-height: 100vh;
    background-color: #f5f5f5;
    display: grid;
    grid-template-areas: 
    "h1 h1"
    "lista detalhes"
    ;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
}
.titulo-app{
    color: black;
    font-size: 2rem;
    font-weight: 700;
    font-family: inter;
    margin-bottom: 1rem;
    grid-area: h1;
}

a {
    text-decoration: none;
  }
ul{
    list-style: none;
}