.container-lista {
    background-color: white;
    width: 95%;
    min-height: 100%;
    grid-area: lista;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-lista {
    font-size: 1.5rem;
    font-family: inter;
    font-weight: 600;
    align-self: flex-start;
}

.pesquisa-filtro-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.pesquisa-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pesquisa-input {
    border: 1px solid #dddddd;
}

.pesquisa-botao {
    border: none;
    background-color: blue;
    color: white;
    width: 25%;
}

.lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5rem;
    padding: 1rem;

}
.lista-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 0.5rem;

    .personagem-foto {
        width: 30%;
        border-radius: 50%;
    }

    .personagem-nome {
        font-family: inter;
        font-weight: 400;
        font-size: 1rem;
    }
}